{% extends 'ordersapp/base.html' %}
{% load static %}

{% block content %}
   <div class="category_delete">

       <div class="h1">Уверены, что хотите удалить?</div>
       {% include 'ordersapp/includes/inc_order_summary.html' %}
       <form action="
            {% if user.is_superuser %}
                {% url 'ordersapp:order_delete_admin' object.pk %}
            {% else %}
                {% url 'ordersapp:order_delete' object.pk %}
            {% endif %}
        "
             method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="
            {% if user.is_superuser %}
                {% url 'adminapp:orders' %}
            {% else %}
                {% url 'ordersapp:orders_list' %}
            {% endif %}
            ">отмена</a>
       </button>
   </div>
{% endblock %}
