{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="categories_list">

        <table class="table tr_ord">
            <thead>
            <tr>
                <th>№</th>
                <th>Активная</th>
                <th>Категория</th>
                <th>Описание</th>
                <th>Действия</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                      {% if object.is_active %}
                        да
                      {% else %}
                        нет
                      {% endif %}

                  </td>
                  <td>{{ object.name|title }}</td>
                  <td>{{ object.description }}</td>
                  <td>
                        <div class="category_actions">
                            <a href="{% url 'admin:products' object.pk %}" class="btn btn-primary">
                                товары
                            </a>
                            <a href="{% url 'admin:category_update' object.pk %}" class="btn btn-secondary">
                                редактировать
                            </a>
                        </div>
                  </td>
                  <td>

                      {% if object.is_active %}
                        <a href="{% url 'admin:category_delete' object.pk %}" class="btn btn-warning">Удалить</a>
                      {% else %}
                        <a href="{% url 'admin:category_delete' object.pk %}" class="btn btn-danger">Удалить навсегда</a>
                      {% endif %}
                  </td>
              <tr>
              {% endfor %}
            </tbody>
            </table>

          <a href={% url 'admin:category_create' %} class="btn btn-primary">
            + новая категория
          </a>
    </div>
{% endblock %}
